/* Put your CSS code here! */

body{
    width: 50em;
}
header {
    background-color: rgb(4, 4, 143);
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 2em;
    box-shadow: 2em;
}

header img{
    float: left;
    height: 2em;
}

h3 span{
    background-color: green;
    color: white;
}

.info{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 10em rgb(0,0,0,255);
    padding: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5em 0.5em 0.5em rgb(192, 192, 192);
    margin-top: 2em;
}

table{
    align-self: center;
}

th{
    background-color:  rgb(4, 4, 143);
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
    width: 10em;
    height: 2em;
    color: white;
}

td{
    text-align: center;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: rgb(235, 235, 235);
    width: 10em;
    height: 2em;
}

.tabel{
    display: flex;
    flex-direction: column;
    text-align: center;
    size: 2em;
    justify-content: center;
    box-shadow: 0.5em 0.5em 0.5em rgb(192, 192, 192);
    margin-top: 2em;
    border-radius: 2rem;
    padding: 1em;
}



