.content {
    background-color: #F7D6A6;
    padding: 20px;
    margin-left: 25rem;
    margin-right: 25rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
    outline: 1px solid FFECDD;
  }

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}


.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1.25px 1.25px 7.5px rgba(0, 0, 0, 0);
    border-radius: 1em;
    width: 15em;
    height: 15em;
    padding: 0.5em 1;
    cursor: pointer;
}

.warenkorb{
    position: absolute;
    float: right;
    top: 50%;
    right: -15em; /* Adjust the value as per your desired spacing */
    transform: translate(-50%, -50%);
}

.textPrim{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.adresse{
    width: 30em;
    height: 3em;
    border-radius: 0.5em;
}

.bestellkorb{
    width: 20em;
    height: 15em;
}

.button{
    width: 10em;
    height: 2em;
    color: white;
    background-color: lightcoral;
    border-radius: 0.5em;
}

.bestellen{
    width: 15em;
    height: 3em;
    background-color: green;
    color: white;
    border-radius: 0.5em;
}
