.content{
    background-color: #f6eee2;
    padding: 10px;
    margin-left: 17rem;
    margin-right: 17rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
    outline: 1px solid;
}

hr{
    border-color: black;
    background-color: black;
    size: 8rem;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.flex-menu {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.p-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.p-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.scroll-warenkorb {
    background-color: #faebd7;
    align-self: left;
    width: 25em;
    height: 7em;
    overflow-y: auto;
}

.carts-buttons {
    margin-top: 1.5em;
}

.input-data {
    margin-top: 1.5em;
}

.et-adress{
    width: 24em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.box{
    position: relative;
}

.button-submit{
    display: flex;
    justify-content: right;
    padding-top: 5rem;
}

@media screen and (max-width: 1200px) {
    .content{
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .flex-menu {
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .scroll-warenkorb {
        align-self: left;
        width: 8em;
        height: 7em;
    }

    .et-adress{
        width: 8em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }
}
