.order-id{
    color: black;
}

#status-container{
    background-color: #f6eee2;
    padding: 10px;
    margin-left: 17rem;
    margin-right: 17rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
    outline: 1px solid;
}

hr{
    border-color: black;
    background-color: black;
    size: 8rem;
    width: 100%;
}

fieldset{
    margin-top: 1rem;
}

@media screen and (max-width: 980px) {
    #status-container{
        margin-left: 8rem;
        margin-right: 8rem;
    }
}